$cBase: #fff;
$cMain: #45afd8;
$cAccent: #ffcd4e;
$cBgBlue: #e7f6ff;
$cBgYellow: rgba(255, 205, 78, 0.14);
$cBgGray: #ced0d6;
$cHighlightBlue: #199de8;
$cTextBlue: #005172;
$cTextGray: #7c878a;
$cTextRed: #eb4d3d;
$cBorderGray: #ced0d6;
$bgImg: url('');
$bgImg-sm: url('');
$bgImgFooter: url('');
$fontPrimary: 'Noto Sans JP', serif;
